/*general*/
html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

/*Some properties for title and subtitle*/
h2 {
  color: #275074;
  font-size: 34px;
  font-weight: 400;
}

h3 {
  color: #485153;
  font-size: 18px;
}

/*Paragraph - for white and colored section*/
.p--dark {
  color: #485153;
  letter-spacing: 1px;
  text-align: justify;
  text-align-last: center;
}

.p--light {
  color: #5a6264;
}

/*Navbar*/
.nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  z-index: 1;
  transition: top 0.3s;
  width: 100%;
}

.nav__list {
  height: 100%;
}

.nav__list ul {
  display: flex;
  padding: 16px;
}

.nav__list li {
  list-style: none;
}

.nav__list li a {
  text-decoration: none;
  margin-left: 32px;
}

.toggle__button {
  position: absolute;
  top: 22px;
  right: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  transition: 0.5s;
}

.toggle__button:hover {
  opacity: 0.5;
  color: #a2a5a5;
}

.toggle__button .bar {
  height: 3px;
  width: 100%;
  background-color: #275074;
  border-radius: 10px;
}

.navList__item--hover {
  display: inline-block;
  position: relative;
  color: #265074;
}

.navList__item--hover:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #265074;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navList__item--hover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav .nav__logo img {
  width: 50px;
  height: 100%;
  margin: 8px;
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/*Jumbotron*/
.jumbotron {
  padding: 10% 0 10% 0;
  background-image: linear-gradient(
    135deg,
    #265074 0%,
    #96dfce 50%,
    #ffffff 100%
  );
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron__titleContainer {
  width: 50%;
  margin: 0 auto;
}

.jumbotron__titleContainer--format {
  letter-spacing: 7px;
  font-weight: 600;
}

.jumbotron__subtitleContainer {
  width: 100%;
  margin: 0 auto;
}

.jumbotron__subtitleContainer--format {
  letter-spacing: 2px;
  color: #485153;
}

/*Jumbotron - subtitle - typewriter */
.typewriter-1,
.typewriter-2 {
  white-space: nowrap;
  overflow: hidden;
  margin: 1px auto;
  text-align: center;
  font-size: 16px;
}

.typewriter-1 {
  border-right: 2px solid transparent;
  animation: animated-text__1 3s steps(30, end) 1s 1 normal both,
    animated-cursor__1 900ms steps(30, end) 4;
}

.typewriter-2 {
  border-right: 2px solid transparent;
  animation: animated-text__2 3s steps(30, end) 1s 1 normal both,
    animated-cursor__2 900ms steps(30, end) infinite;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

@keyframes animated-cursor__1 {
  from {
    border-right-color: rgba(17, 17, 17, 0.9);
  }

  to {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes animated-cursor__2 {
  from {
    border-right-color: rgba(17, 17, 17, 0.9);
  }

  to {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes animated-text__1 {
  from {
    width: 0;
  }

  to {
    width: 480px;
  }
}

@keyframes animated-text__2 {
  from {
    width: 0;
  }

  to {
    width: 528px;
  }
}

/*White Section - (Hello and Projects Section)*/
.section--white {
  background-color: white;
  padding: 7% 0 7% 0;
}

/*Colored Section - (Skills and Contact Section)*/
.section--colored {
  background-image: linear-gradient(
    135deg,
    #265074 0%,
    #96dfce 50%,
    #ffffff 100%
  );
  padding: 6% 0 6% 0;
}

/*Hello Section*/
.hello__container {
  width: 50%;
  margin: 0 auto;
}

.helloContainer__img {
  width: 200px;
  height: 100%;
  border-radius: 50%;
}

/*Skills Section*/
.skills__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  padding-top: 40px;
  row-gap: 50px;
}

.skillsContainer__img {
  width: 60px;
  height: 100%;
}

/*Projects Section */

.slide__container {
  height: 450px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.slideContainer__project {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  transition: transform 1s;
}

.slideContainer__btn {
  position: absolute;
  top: 50%;
  border: none;
  background-color: transparent;
  color: rgba(39, 80, 116, 0.5);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  font-size: 48px;
  cursor: pointer;
}

.slideContainer__btn:hover {
  color: rgba(39, 80, 116, 1);
}

.slideContainer__btn--left {
  left: 5%;
  transform: translate(-50%, -50%);
}

.slideContainer__btn--right {
  right: 5%;
  transform: translate(50%, -50%);
}

.slideContainerProject_content {
  text-align: justify;
  width: 350px;
  height: 75%;
  margin: 0 75px;
}

.slideContainerProject__img {
  width: 350px;
  height: 75%;
  margin: 0 75px;
}

.slideContainerProject_tec {
  width: 35px;
  height: 100%;
  margin: 1px;
}

/*Contact Section*/
.contact__btn--format {
  background-color: #275074;
  color: white;
  border-radius: 8px;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  margin-top: 1px;
  transition: 0.5s;
  font-size: 16px;
}

.contact__btn--format:hover {
  background-color: #a2a5a5;
  opacity: 0.5;
  color: white;
}

/*Footer Section*/
.footer {
  background-color: white;
  height: 150px;
  color: #a2a5a5;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__link img {
  width: 30px;
  height: 100%;
}

.footer__paragraph {
  margin: 5px;
}

/*Sections - transitions*/
.section {
  transition: transform 2s, opacity 1s;
}
.section--hiddenY {
  opacity: 0;
  transform: translateY(100px);
}
.section--hiddenX {
  opacity: 0;
  transform: translateX(50px);
}

@media (max-width: 1220px) {
  .skills__container {
    grid-template-columns: repeat(auto-fit, 1200px);
  }
}

/*Responsive 750px max width - tablet*/
@media (max-width: 750px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle__button {
    display: flex;
  }

  .nav__list {
    display: none;
    width: 100%;
  }

  .nav__list ul {
    width: 100%;
    flex-direction: column;
  }

  .nav__list ul li {
    text-align: center;
  }

  .nav__list ul li a {
    padding-top: 16px;
  }

  #navi.active {
    display: flex;
  }

  .jumbotron {
    padding: 20% 0 20% 0;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  .jumbotron__subtitleContainer--format {
    font-size: 12px;
  }

  @keyframes animated-text__1 {
    from {
      width: 0;
    }

    to {
      width: 384px;
    }
  }

  @keyframes animated-text__2 {
    from {
      width: 0;
    }

    to {
      width: 416px;
    }
  }

  .slide__container {
    height: 525px;
  }

  .contact__btn--format {
    font-size: 14px;
  }
}

/*Responsive 460px max width - mobile*/
@media (max-width: 460px) {
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  .jumbotron__subtitleContainer--format {
    font-size: 10px;
  }

  @keyframes animated-text__1 {
    from {
      width: 0;
    }

    to {
      width: 320px;
    }
  }

  @keyframes animated-text__2 {
    from {
      width: 0;
    }

    to {
      width: 368px;
    }
  }
}
